[auto_diagnostic]
extruder_temp: 220.0
bed_temp: 50.0
# chamber_temp: 0       # Отключить если не используется
park_x: 200             # Безопасные координаты
park_y: 200
park_z: 100
fan_temp_drop: 2.0    ; На сколько градусов минимально должно быть падение температуры
fan_check_time: 15.0  ; Время, за которое температура должна упасть на установленное значение
stabilization_time: 20 ; Время стабилизации температуры